---
type Props = AboutValuesSection;

import { Image } from "astro:assets";
import type { AboutValuesSection } from "../../../sanity.types";
import { urlForImage } from "../../lib/urlForImage";

const { cards, title } = Astro.props;
---

<section>
  <h3>{title}</h3>
  <div class="cards-wrapper">
    {
      cards.map((card) => {
        return (
          <div class="card">
            <Image
              src={urlForImage(card.icon.asset).url()}
              width={64}
              height={64}
              alt={card.icon.alt}
            />
            <h4>{card.title}</h4>
            <p>{card.subTitle}</p>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  section {
    padding: calc(1.25 * var(--section-padding)) var(--section-spacing);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    background: var(--primary-color);
    background: -webkit-linear-gradient(
      25deg,
      var(--primary-color-a) 0%,
      var(--primary-color-light) 100%
    );
    background: -moz-linear-gradient(
      25deg,
      var(--primary-color-a) 0%,
      var(--primary-color-light) 100%
    );
    background: linear-gradient(
      25deg,
      var(--primary-color-a) 0%,
      var(--primary-color-light) 100%
    );
  }
  h3 {
    text-align: center;
    color: var(--text-color-invert);
    padding-bottom: 5rem;
  }
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-row-gap: 5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(1.5 * var(--card-width));
    text-align: center;
    gap: 2rem;
    background-color: var(--card-background-color);
    padding: 5rem 2rem;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  }
  p {
    line-height: var(--card-interline);
  }

  @media only screen and (max-width: 768px) {
    section {
      padding: calc(1 * var(--section-padding))
        calc(0.5 * var(--section-spacing));
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    }
  }
  @media only screen and (max-width: 485px) {
    section {
      padding: calc(0.75 * var(--section-padding))
        calc(0.25 * var(--section-spacing));
      clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
      margin-top: 1px;
      margin-bottom: 2rem;
    }
  }
</style>
