---
import { Image } from "astro:assets";
import { urlForImage } from "../../lib/urlForImage";
import type { ActionButton } from "../../types/globaltypes";

const { text, logo, actionButtons, image } = Astro.props;
---

<section>
  <Image
    class="hero-image"
    src={urlForImage(image.asset).url()}
    width={2400}
    height={2400}
    alt={image.alt}
  />

  <div class="content-wrapper">
    <Image
      class="logo"
      src={urlForImage(logo.asset).url()}
      width={480}
      height={480}
      alt={logo.alt}
    />

    <p>{text}</p>

    <div class="action-buttons-wrapper">
      {
        actionButtons.map((button: ActionButton) => {
          const btn = button;
          return (
            <a class="button-elevated" href={btn.href}>
              {btn.text}
            </a>
          );
        })
      }
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    height: var(--hero-height);
    margin-top: calc(-1 * var(--nav-height));
  }
  p {
    color: var(--text-color-invert);
    font-size: var(--hero-font-size);
    line-height: var(--hero-font-interline);
  }
  .hero-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 100% 60%;
  }
  section::after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
  }
  .logo {
    margin: -83px 0 -100px -83px;
  }
  .content-wrapper {
    position: absolute;
    z-index: 2;
    max-width: var(--hero-width);
    left: calc(var(--hero-width) / 4);
  }
  .action-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }
</style>
