---
type Props = ContactDetailsSection;

import type { ContactDetailsSection } from "../../../sanity.types";
import { Image } from "astro:assets";
import { urlForImage } from "../../lib/urlForImage";
import Paragraphs from "../Paragraphs.astro";

const { cards } = Astro.props;
---

<section>
  <div class="content-wrapper">
    {
      cards.map((card, index) => (
        <>
          <a href={card.href} target="_blank">
            <div class="card">
              <Image class="contact-section-icon" src={urlForImage(card.icon.asset).url()} width={128} height={128} alt={card.icon.alt} />
              <h4>{card.title}</h4>
              <Paragraphs className="scaleFont" paragraphs={card.text} />
            </div>
          </a>

          {index < cards.length - 1 && <div class="divider-vertical" />}
        </>
      ))
    }
  </div>
</section>
<!-- <div class="divider"></div> -->

<style>
  h3 {
    text-align: center;
    margin-bottom: 5rem;
  }
  h4 {
    font-size: calc(1.8 * var(--font-size-h4));
  }

  a:hover {
    background-color: rgb(251, 251, 251);
    border-radius: 1rem;
  }
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: var(--section-max-width);
    margin: 0 auto;
  }

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .divider-vertical {
    height: 50;
    width: 10px;
    /* background-color: red; */
    border-right: 2px solid var(--card-background-color);
  }
  .divider {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--card-background-color);
  }

  @media only screen and (max-width: 1200px) {
    h4 {
      font-size: calc(0.9 * var(--font-size-h4));
    }
  }
  @media only screen and (max-width: 768px) {
    h3 {
      text-align: center;
      margin-bottom: 3rem;
    }
    h4 {
      font-size: calc(0.8 * var(--font-size-h4));
    }
  }
</style>
