---
type Props = ContactDetailsSection;

import type { ContactDetailsSection } from "../../../sanity.types";
import { Image } from "astro:assets";
import { urlForImage } from "../../lib/urlForImage";
import Paragraphs from "../Paragraphs.astro";

const { cards } = Astro.props;
---

<section>
  <div class="content-wrapper">
    {
      cards.map((card, index) => (
        <>
          <a href={card.href} target="_blank" rel="noopener noreferrer">
            <div class="card">
              <Image class="contact-section-icon" src={urlForImage(card.icon.asset).url()} width={128} height={128} alt={card.icon.alt} />
              <h3>{card.title}</h3>
              <Paragraphs className="scaleFont" paragraphs={card.text} />
            </div>
          </a>

          {index < cards.length - 1 && <div class="divider" />}
        </>
      ))
    }
  </div>
</section>

<style>
  h3 {
    font-size: calc(1.7 * var(--font-size-h4));
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: var(--section-max-width);
    margin: 0 auto;
  }

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .divider {
    align-self: stretch;
    width: 0;
    border-right: 2px solid var(--card-background-color);
  }

  @media only screen and (max-width: 1200px) {
    h3 {
      font-size: calc(0.9 * var(--font-size-h4));
    }
  }
  @media only screen and (max-width: 768px) {
    h3 {
      font-size: calc(0.8 * var(--font-size-h4));
    }
  }
</style>
