---
interface Props {
  projects: GetLatestThreeProjectsQueryResult;
}

import { Image } from "astro:assets";
import { urlForImage } from "../lib/urlForImage";
import TextButton from "./TextButton.astro";
import { formatDate } from "../lib/convertDate";
import IconText from "./IconText.astro";
import type {
  GetLatestThreeProjectsQueryResult,
  Project,
} from "../../sanity.types";
import DynamicImage from "./DynamicImage.astro";

const { projects } = Astro.props;
---

<div class="projects-wrapper">
  {
    projects.map((project) => {
      return (
        <div class="project-card">
          <DynamicImage className="project-img" image={project.image} />

          <div class="project-card-content">
            <h4>{project.title}</h4>
            <IconText path="/icons/calendar.svg">
              <p>{formatDate(project.startDate)}</p>
            </IconText>
            <IconText path="/icons/location.svg">
              <p>{project.city}</p>
            </IconText>
            <p style="margin-bottom: 1rem;">{project.text}</p>
            <TextButton
              href={`/projects/${project.slug.current}`}
              text={project.actionButtonText}
              path="/icons/arrow_right.svg"
            />
          </div>
        </div>
      );
    })
  }
</div>

<style>
  .projects-wrapper {
    display: flex;
    width: 100%;
    gap: 2rem;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--card-background-color-light);
    border-radius: var(--section-img-border-radius);
    gap: 1rem;
  }
  .project-card-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2rem;
  }
</style>
