---
type Props = ContactFormInput;

import type { ContactFormInput } from "../../../../sanity.types";

const { name, placeholder, label } = Astro.props;
---

<div class="form-input-wrapper">
  <label class="form-label" for={name}>{label}</label>
  <input
    required
    class="form-input"
    type="email"
    name={name}
    id={name}
    placeholder={placeholder}
  />
</div>
