---
type Props = ContactFormInput;

import type { ContactFormInput } from "../../../../sanity.types";

const { name, placeholder, label } = Astro.props;
---

<div>
  <label for={name}>{label}</label>
  <input
    required
    class="form-input"
    type="text"
    name={name}
    id={name}
    placeholder={placeholder}
  />
</div>

<style>
  div {
    width: 100%;
  }
</style>
