---
import { Image } from "astro:assets";
import { urlForImage } from "../../lib/urlForImage";
import { fetchFooter } from "../../api/fetchFooter/query";
import ImageText from "../ImageText.astro";

const footer = await fetchFooter();
---

<footer>
  <div class="content-wrapper">
    <div class="contact-wrapper">
      <Image
        class="contact-icon"
        src={urlForImage(footer.headerIcon.asset).url()}
        width={48}
        height={48}
        alt={footer.headerIcon.alt}
      />
      <div class="contact-content">
        <h4>{footer.headerTitle}</h4>
        <p>{footer.headerSubTitle}</p>
      </div>
      <a class="button-elevated" href="/contact">{footer.headerButtonText}</a>
    </div>

    <div class="informations-wrapper">
      <div class="logo-wrapper">
        <Image
          src={urlForImage(footer.logo.asset).url()}
          width={64}
          height={64}
          alt={footer.logo.alt}
        />
        <p>{footer.description}</p>
      </div>

      <div class="navigation-wrapper">
        <p><a href="/">Strona główna</a></p>
        <p><a href="/about">O nas</a></p>
        <p><a href="/contact">Kontakt</a></p>
        <p><a href="/offer">Oferty</a></p>
        <p><a href="/projects">Projekty</a></p>
      </div>

      <div class="information-wrapper">
        <ImageText image={footer.addressLine.icon}>
          <p>{footer.addressLine.text}</p>
        </ImageText>
        <ImageText image={footer.contactPhone.icon}>
          <p>{footer.contactPhone.text}</p>
        </ImageText>
        <ImageText image={footer.contactEmail.icon}>
          <p>{footer.contactEmail.text}</p>
        </ImageText>
        <ImageText image={footer.workingHours.icon}>
          <p>{footer.workingHours.text}</p>
        </ImageText>
      </div>
    </div>
    <div class="credits-wrapper">
      <p>{footer.author}</p>
      <div class="credits-content">
        <p>NIP {footer.nip}</p>
        <div class="dot"></div>
        <p>KRS {footer.krs}</p>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--primary-color);
  }
  p,
  a,
  h5,
  h4 {
    color: var(--text-color-invert);
  }
  a {
    text-decoration: none;
  }
  h5,
  h4 {
    font-weight: bold;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: var(--section-max-width);
    margin: 0 auto;
    padding: 2rem;
    gap: 2rem;
  }

  .navigation-wrapper,
  .information-wrapper,
  .logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .logo-wrapper {
    line-height: 150%;
  }

  .contact-wrapper {
    display: flex;
    align-items: center;
    background-color: #29318c;
    padding: 1rem;
    gap: 1rem;
    border-radius: var(--section-img-border-radius);
  }

  .contact-icon {
    width: 48px;
    height: 48px;
  }
  .contact-wrapper a {
    margin-left: auto;
    border-radius: var(--button-border-radius);
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 600;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .informations-wrapper {
    display: flex;
    gap: 5rem;
  }
  .informations-wrapper > div {
    flex: 1;
  }

  .credits-wrapper {
    display: flex;
    border-top: 1px solid #ffffff;
    padding-top: 1rem;
  }

  .credits-wrapper > p {
    font-size: calc(0.5 * var(--font-size-text));
  }

  .credits-content {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 1rem;
  }
  .credits-content .dot {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 10rem;
  }

  @media (max-width: 1200px) {
    .informations-wrapper {
      gap: 2rem;
    }
    .contact-icon {
      width: 36px;
      height: 36px;
    }
  }

  /* Tablet - 768px and below */
  @media (max-width: 768px) {
    .informations-wrapper,
    .logo-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  /* Mobile - 480px and below */
  @media (max-width: 480px) {
    img {
      max-height: 150px;
    }
    .contact-wrapper {
      gap: 1rem;
    }
    .informations-wrapper > div {
      gap: 1rem;
    }
    .credits-wrapper {
      line-height: 120%;
    }
    .contact-icon {
      width: 24px;
      height: 24px;
    }
  }

  /* Small mobile - 320px and below */
  @media (max-width: 375px) {
    .content-wrapper {
      padding: 1rem 0.5rem;
    }
    .contact-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .contact-wrapper a {
      margin-left: unset;
    }
    .contact-wrapper img {
      display: none;
    }
    .contact-content {
      gap: 1rem;
    }
    img {
      max-height: 120px;
    }
  }
</style>
